body {
  background-color: #000000; /* Fondo oscuro */
  color: #FFFFFF; /* Color de texto claro para contraste */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Asegúrate de que el contenido no se desborde */
  position: relative;
 }

body::after{
  content: '';
  position: relative;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(20,20,10,1) 40%, rgba(20,20,10,0) 100%);
}

.loginContent{
    justify-content: space-around;
}

.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:60px;
  left:39%;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #FFD700;
}

.star-wars {
  display: flex;
  justify-content: center;
  height: 100%; /* Ajusta la altura según sea necesario */
  width: 60%;
  margin: 0 auto;
  perspective: 450px;
}

.crawl {
  margin-top: 70%;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  color: #feda4a;
  animation: scroll 60s linear forwards;
}

 h1{
  text-align: center;
 }

@keyframes scroll {
from {
  top: 0;
  transform: translateZ(0) rotateX(20deg);
}
to {
  top:-7500px;
  transform: translateZ(-2500px)  rotateX(21deg);
}
  }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para contraste */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px;
  width: 300px;
  margin: 0 auto; /* Centrado */
  color: #FFFFFF; /* Color de texto claro para contraste */
  font-family: 'Pathway Gothic One', sans-serif; /* Fuente de Star Wars */
  backdrop-filter: blur(5px); /* Filtro de desenfoque para el fondo */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para contraste */
  z-index: 999;
}

input[type="text"],
input[type="password"] {
 border-radius: 10px; /* Bordes redondeados para los campos de texto */
 padding: 10px;
 margin-bottom: 10px;
 background-color: #222222; /* Fondo oscuro para los campos de entrada */
 color: #FFFFFF; /* Texto claro para contraste */
 border: none;
}

button {
  width: 185px;
 border-radius: 10px; /* Bordes redondeados para el botón */
 padding: 10px;
 background-color: #FFD700; /* Color dorado de Star Wars */
 color: #000000; /* Texto en negro para contraste */
 border: none;
 cursor: pointer;
}

button:hover {
 background-color: #FFA500; /* Color dorado más oscuro al pasar el cursor */
}
 

/* Media Query para pantallas con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
  .loginForm {
     top: 30px;
     left: 50%;
     transform: translateX(-50%);
  }
 
  .crawl {
     margin-top: 200%;
     animation: scroll 120s linear forwards;
  }
 
  form {
     width: 80%;
     padding: 15px;
     z-index: 999 !important;
     user-select: all;
  }
 
  input[type="text"],
  input[type="password"] {
     padding: 8px;
  }
 
  button {
     width: 150px;
  }
 }
 
 /* Media Query para pantallas con un ancho máximo de 480px */
 @media screen and (max-width: 480px) {
  .loginForm {
     top: 20px;
     left: 50%;
     transform: translateX(-50%);
  }
 
  .crawl {
     margin-top: 350%;
     animation: scroll 120s linear forwards;
     z-index: -999;
  }
 
  form {
     width: 90%;
     padding: 10px;
     z-index: 999 !important;
  }
 
  input[type="text"],
  input[type="password"] {
     padding: 6px;
  }
 
  button {
     width: 130px;
  }
 }
 