@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif ;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 0px !important;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: sticky !important;
    top: 0px;
}

.navbarImg img{
    width: 100%;
    height: auto;
    border-radius: 0px 0px 35px 0;
}

.navbarImg{
    max-width: 150px; 
}

.navbarTags{
    display: flex;
    flex-direction: row;
    min-width: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.navbarTagsCategories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 400px;
    font-weight: bold; 
}

.navbarTagsCategories a{
    text-decoration: none;
    color: black;
}

a {
    transition: all 0.3s ease;
    cursor: pointer;
}
a:hover{
    transform: scale(1.1);
    font-weight: bold;

}

.navbarTagsUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.navbarTagsUser button {
    border: none;
    padding: 5px 10px;
    background-color: transparent;
}
.buttonCart{
    user-select: none   ;
}
button.buttonUser {
    padding-bottom: 8px;
}

.navbarMobile,
.navbarTagsCategoriesMobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbarTagsCategories {
        display: none;
        position: relative;
    }

    .navbarTagsCategoriesMobile {
        animation: slideDown 0.3s ease forwards; 
        display: none;
        position: absolute;
        left: 0;
        top: 100%; 
        width: 100%; 
        max-width: 100px;
        min-width: 100px;
        background-color: gray;
        border-radius: 35px 0px 35px 35px;
        align-items: center;
        right: 0;
    }

    .navbarTagsCategoriesMobile.show {
        animation: slideDown 0.3s ease forwards; 
        display: flex;
        flex-direction: column;
        position: absolute;
        max-width: 100px;
        min-width: 100px;
        background-color: gray;
        border-radius: 35px 0px 35px 35px;
        align-items: center;
        top: calc(100% + -30px);
        left: calc(100% + -132px);  
        overflow: hidden;
    }
    
@keyframes slideDown {
        from {
            height: 1px; /* Comenzar desde arriba */
        }
        to {
            height:200%; /* Desplazarse hacia abajo */
        }
    }

    .navbarTagsCategoriesMobile.show a {
        color: white;
        padding: 10px;
        text-decoration: none;
    }

    .navbarTags {
        min-width: 100px;
    }

    .navbarMobile {
        display: flex;
        position: relative; 
    }
}



@media screen and (max-width: 360px){
    .navbarImg{
        max-width: 100px;
    }
    
}


.dashboardContainer {
    padding: 20px;
}

.dashboardHeader {
    font-size: 24px;
    margin-bottom: 20px;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: all 0.2s ease;
}

.product:hover{
    box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.3);

}
.productImg img {
    width: 100%;
    height: auto;
}

.productName {
    font-size: 18px;
    margin-top: 10px;
}

.productBuyDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.productPrice {
    font-size: 16px;
}

.productAddCar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .productContainer {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .productContainer {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    div#advertisementNotRegistred, div#advertisementRegistredmany{
        font-size: 12px;
        text-overflow: ellipsis;
    }
}



/* cart styles */
button.backToStoreButton{
    border: none ;
    background-color: transparent;
}

.checkoutContainer{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 5px;
}

.checkoutButton a{
    text-decoration: none;

}

.checkoutButton{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 3px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.cartItemImg{
    max-width: 200px;
}

.cartItemImg img{
    width: 100%;
    height: auto;
}


.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cartHeader .totalAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartHeader .totalAndPrice .total {
    font-size: 24px;
}

.cartTable {
    width: 100%;
    border-collapse: collapse;
}

.cartTable thead {
    background-color: #007bff;
    color: white;
    position: sticky;
    top: 90px;
}

.cartTable th {
    padding: 10px;
    width: 300px;
    gap: 20px;
}



.cartTable tbody tr {
    border-bottom: 1px solid #ccc;
}

.cartTable td{
    text-align: center;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartItemName {
    font-size: 18px;
    margin-left: 10px;
}

.cartItemPrice {
    font-size: 16px;
}

.cartItemQuantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartItemQuantityButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cartItemQuantityNumber {
    font-size: 16px;
    margin: 0 10px;
}

.cartItemTotal {
    font-size: 16px;
}

.cartItemTotalPrice {
    font-size: 24px;
}

.cartItemTotalPrice span {
    font-weight: bold;
}

.cartItemTotalPrice button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


/* checkout Styles */
.checkoutContainer {
    padding: 0 60px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.paymentInformation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clientInfo {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.clientComplementaryInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clientComplementaryInfo h2 {
    font-size: 24px;
}

.finishShipingButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.ordersummary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button.backToCartButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top:8px ;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.totalPurchaseFinal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.totalPurchaseFinal h1 {
    font-size: 24px;
}

.summaryInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summaryInfoDate {
    font-size: 18px;
}

.summaryInfoTotal {
    font-size: 18px;
}




/* scroll bar styles */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cdae00;
    border-radius: 35px;
}
