{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- flecha para retroceder -->
<div class="backAndBuy">
 <a href="/"><button class="backToStoreButton" title="Seguir Comprando"><span class="material-symbols-outlined">
    arrow_back_ios
    </span></button></a>
</div>

<!-- checkout o realizar compra -->
<div class="checkoutContainer">
 <div class="total">
    <p class="totalPriceOfPurchase">Total: ${{order.get_cart_total|floatformat:2}}</p>
 </div>
 <div class="checkoutButton">
    <a href="http://127.0.0.1:8000/checkout"><button class="checkoutButton" title="Comprar"><span class="material-symbols-outlined">
      shopping_cart
      </span> Comprar</button></a>
 </div>
</div>

<!-- lista de elementos en el carrito -->
<div class="cartHeader">
 <div class="totalAndPrice"></div>
 <!-- tabla para lista en el carrito, el encabeza es "item" "price" "quantity" "total" -->
 <table class="cartTable">
    <thead>
      <tr>
        <th class="itemContainerHeader">Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr> 
    </thead>
    <tbody>
      {% if items %}
        {% for item in items %}
          {% for producto in productos %}
            {% if item.product_id == producto.id and item.quantity > 0 %}
              <tr>
                <td>
                  <div class="cartItem">
                  <div class="cartItemImg"><img src="{% static producto.imagen %}" alt="{{ item.nombre }}" /></div>
                  <div class="cartItemName">{{ producto.nombre }}</div>
                  </div>
                </td>
                <td class="cartItemPrice">${{ producto.precio|floatformat:2 }}</td>
                <td>
                  <div class="cartItemQuantity">
                  <button data-product="{{producto.id}}" data-action="remove" class="update-cart cartItemQuantityButton" title="Disminuir Cantidad"><span class="material-symbols-outlined">
                      remove
                  </span></button>
                  <span class="cartItemQuantityNumber"> {{ item.quantity }}</span>
                  <button data-product="{{producto.id}}" data-action="add" class="update-cart cartItemQuantityButton" title="Aumentar Cantidad"><span class="material-symbols-outlined">
                      add
                  </span></button>
                  </div>
                </td>
                <td class="cartItemTotal">${{ item.get_total|floatformat:2 }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% else %}
          <tr>
            <td colspan="4">No tienes Items en carrito</td>
          </tr>
      {% endif %}
     </tbody>
 </table>
</div>

{% endblock content %}
